.body {
    font-size: 18px;
    background-color: #eeeeee;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Montserrat";
}

.header {
    text-align: center;
    font-size: 60px;
    font-style: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    min-height: 600px;
}

.left {
    text-align: center;
    display: grid;
    grid-template-rows: 33% 33% 33%;
    align-content: center;
}

.right {
    text-align: center;
    display: grid;
    grid-template-rows: 33% 33% 33%;
}

#upload {
    display: none;
}

.message {
    margin-top: 10px;
    font-size: 30px;
}

.btn-big {
    width: 240px;
    height: 80px;
    font-size: 10px;
    margin-top: 10px;
}

.left-grid {
    vertical-align: middle;
}

.mono-div {
    display: none;
}

.stereo-div {
    display: none;
}



.right-grid-1-item-label {
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-box {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.slider {
    margin-top: 30px;
}

@media screen and (max-width: 600px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 50% 50%;
        min-height: 1200px;
    }
  }